@model Eight_Evid_01.Models.Spot

<div class="form-group row">
    <div class="col-md-8">
        @Html.DropDownListFor(x=>x.SpotId, ViewBag.spots as SelectList, "---Select---",htmlAttributes:new {@class="form-control"})
    </div>
    <div class="col-md-4">
        <a href="" id="btnDeleteSpot" class="btn btn-danger">Delete</a>
    </div>
</div>
